@page
@model MyApp.Namespace.CountrySelectModel
@{
}

<body>
    <table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                Country
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Countries != null)
        {
            foreach (string country in Model.Countries)
            {
                <tr>
                    <td>
                        <a class="btn" style="width: 100%; height: 100%;" href="GetAllRooms?country=@country">@country</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    </table>
</body>
